* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #000;
}

main {
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Sansita One', cursive;
}

h1 {
  background-color: $highlight;
  color: #fff;
  padding: 5px 20px;
}
